#bg-img.lazy {
  background: none; }

#bg-img [type="checkbox"] {
  background: url("https://acre-image-collections.s3.amazonaws.com/image-65787222618211702392354_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-1.lazy {
  background: none; }

#bg-img-1 [type="checkbox"] {
  background: url("https://acre-image-collections.s3.amazonaws.com/image-6578722caea701702392364_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-2.lazy {
  background: none; }

#bg-img-2 [type="checkbox"] {
  background: url("https://acre-images.s3.amazonaws.com/image-5ac62b9e561041522936734_medium.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-3.lazy {
  background: none; }

#bg-img-3 [type="checkbox"] {
  background: url("https://acre-images.s3.amazonaws.com/image-5acac631504581523238449_medium.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-4.lazy {
  background: none; }

#bg-img-4 [type="checkbox"] {
  background: url("https://acre-images.s3.amazonaws.com/image-5acac631504581523238449_medium.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-5.lazy {
  background: none; }

#bg-img-5 [type="checkbox"] {
  background: url("https://acre-images.s3.amazonaws.com/image-5acac631504581523238449_medium.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-6.lazy {
  background: none; }

#bg-img-6 [type="checkbox"] {
  background: url("https://acre-image-collections.s3.amazonaws.com/image-6578af5f9af671702408031_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-7.lazy {
  background: none; }

#bg-img-7 [type="checkbox"] {
  background: url("https://acre-images.s3.amazonaws.com/image-5acac631504581523238449_medium.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-8.lazy {
  background: none; }

#bg-img-8 [type="checkbox"] {
  background: url("https://acre-image-collections.s3.amazonaws.com/image-6576286c7c4b61702242412_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-9.lazy {
  background: none; }

#bg-img-9 [type="checkbox"] {
  background: url("https://acre-images.s3.amazonaws.com/image-5ac62b9e561041522936734_medium.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-10.lazy {
  background: none; }

#bg-img-10 [type="checkbox"] {
  background: url("https://acre-images.s3.amazonaws.com/image-5acac631504581523238449_medium.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-11.lazy {
  background: none; }

#bg-img-11 [type="checkbox"] {
  background: url("https://acre-images.s3.amazonaws.com/image-5b01cdf4b2e9a1526844916.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-12.lazy {
  background: none; }

#bg-img-12 [type="checkbox"] {
  background: url("https://acre-image-collections.s3.amazonaws.com/image-6578af5f9af671702408031_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-13.lazy {
  background: none; }

#bg-img-13 [type="checkbox"] {
  background: url("https://acre-image-collections.s3.amazonaws.com/image-657871ff7d8401702392319_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-14.lazy {
  background: none; }

#bg-img-14 [type="checkbox"] {
  background: url(" https://acre-image-collections.s3.amazonaws.com/image-65787222618211702392354_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-15.lazy {
  background: none; }

#bg-img-15 [type="checkbox"] {
  background: url(" https://acre-images.s3.amazonaws.com/image-5b01cdf4b2e9a1526844916.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-16.lazy {
  background: none; }

#bg-img-16 [type="checkbox"] {
  background: url("https://acre-images.s3.amazonaws.com/image-5acac631504581523238449_medium.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-17.lazy {
  background: none; }

#bg-img-17 [type="checkbox"] {
  background: url("https://acre-image-collections.s3.amazonaws.com/image-6578722caea701702392364_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-18.lazy {
  background: none; }

#bg-img-18 [type="checkbox"] {
  background: url("https://acre-images.s3.amazonaws.com/image-5b01cdf4b2e9a1526844916.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-19.lazy {
  background: none; }

#bg-img-19 [type="checkbox"] {
  background: url("https://acre-image-collections.s3.amazonaws.com/image-6578af5f9af671702408031_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-20.lazy {
  background: none; }

#bg-img-20 [type="checkbox"] {
  background: url(" https://acre-image-collections.s3.amazonaws.com/image-65787222618211702392354_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-21.lazy {
  background: none; }

#bg-img-21 [type="checkbox"] {
  background: url("https://acre-image-collections.s3.amazonaws.com/image-657871ff7d8401702392319_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-22.lazy {
  background: none; }

#bg-img-22 [type="checkbox"] {
  background: url("https://acre-image-collections.s3.amazonaws.com/image-657872175b22e1702392343_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#bg-img-23.lazy {
  background: none; }

#bg-img-23 [type="checkbox"] {
  background: url(" https://acre-image-collections.s3.amazonaws.com/image-65787222618211702392354_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.image-card {
  margin-top: 2.5rem; }

.form-check input[type="checkbox"] {
  width: 18em;
  height: 18em;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.form-check [type="checkbox"]:checked {
  border: 1.5px solid #e31414; }

@media (min-width: 1200px) {
  .form-check {
    padding-bottom: .6rem; } }

@media (max-width: 990px) {
  .form-check {
    padding-bottom: 2.9rem; } }

/*# sourceMappingURL=styles.css.map */